<% # form_tag is equivalent to form_for, but it is used for generic form, without a model behind
   # a search form always uses a GET method %>
<div class="main">
<h5>Cerca Animaletto scemo per razza</h5>
  <div class="row">
    <div class="large-4 columns">
<%= form_tag search_pets_path, method: 'get', class: 'navbar-search pull-left' do%>
    <% # text_field_tag: the first parameter is the id/name of the input tag; the second is the value of the tag %>
    <%= text_field_tag :search, params[:search], class: 'search-query', placeholder: 'Search' %>
    <%= submit_tag ("cerca"), class: 'round primary small button' %>
<% end %>
</div>
</div>
</div>