<div class="main">
  <h1>Sign in </h1>

<div class="row">
  <div class="large-4 columns">
    <fieldset>
      <legend>Dati personali</legend>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= render 'fields', f: f %>
          </fieldset>
        <%= f.submit 'Create my account', class: 'small round primary button' %>
        </div>
    <% end %>
</div>
</div>